body{
	background-color: #0b0d20;
}

.drop{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	text-align: center;
	position: fixed;
	top: 35%;
	margin: 0 auto;
	width: 100%;
	font-size: 50px;
	color: white;
}
.outer-circle{
	background-color: white;
	width: 100px;
	margin: 0 auto;
	padding: 2px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}
.inner-circle{
	background-color: #0b0d20;
	color: white;
	width: 100%;
	margin: 0 auto;
	padding: 10px 0;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
}

.password-circle{
	width: 300px;
}
.password-i-circle{
	padding: 20px 30px;
}

.footer{
	font-size: 10px;
	color: #aaa;
	text-align: center;
	position: fixed;
	bottom: 10px;
	margin: 0 auto;
	width: 100%;
}
.footer a{
	color: #55f;
	text-decoration: none;
}