<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{.title}}</title>
	</head>
	<body>
		<h1>{{.title}}</h1>
		<p>
			{{.content}}
		</p>
		<form action="/admin/upload" method="post" enctype="multipart/form-data">
			<label for="file">Filename:</label>
			<input type="file" name="file" id="file">
			<input type="submit" name="submit" value="Submit">
		</form>
	</body>
</html>