<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>滴 {{.title}}</title>
		<link rel="stylesheet" type="text/css" href="/assets/shizuku.css">
		<link rel="stylesheet" type="text/css" href="/assets/animate.css">
	</head>
	<body>
		<div class="drop animated fadeInDown">
			<div class="outer-circle">
				<div class="inner-circle">滴</div>
			</div>
		</div>
		<div class="footer animated fadeIn">
			<a href="https://github.com/JamieCrisman/shizuku">Shizuku</a> ~ Golang implementation of Drop by <a href="http://elliott.codes">Maxdeviant</a><br>
			Created by <a href="http://longest.voyage">James Crisman</a>
		</div>
	</body>
</html>